body {
    /* esta la parte del ejercicio 2 leccion 3 */
     background-color: lightblue;
    font-family: Arial, sans-serif;
}
/* esta la parte del ejercicio 3 leccion 3 */
h1, h2, h3 {
  color: red;
}

p {
    font-size: 16px;
}

/* esta la parte del ejercicio 4 leccion 3 */
img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
}

/* este es el estilo para los enlaces del menú de navegación al pasar el mouse por encima */
.navbar .nav-link:hover {
  color: blue;
}